@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/static-website/yoga-bg.png");
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 10px;
}

.girl-image {
    height: 50vh;
    width: 50vw;
    text-align: center;
}

.heading {
    font-family: "roboto";
    font-size: 30px;
    color: #132b84;
    font-weight: bold;
}

.about {
    font-family: "roboto";
    font-size: 20px;
    color: #323f4b;
}

.yogabutton {
    font-family: "roboto";
    font-size: 15px;
    color: #fab693;
    background-color: #132d84;
    border-color: #132d84;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    height: 45px;
    width: 120px;
}

.yogacontainer {
    background-color: #ffedcb;
    background-size: cover;
}

.yoga-card {
    background-color: #ffe2ab;
    border-color: #ffe2ab;
    border-radius: 10px;
    margin: 20px;
    padding: 10px
}

.yoga-name {
    font-family: "roboto";
    font-size: 30px;
    color: #253263;
}

.about-yoga {
    font-family: "roboto";
    font-size: 20px;
    color: #323f4b;
}

.text-card {
    margin: 5px;
}